/* 大東西 */
body {
    font-family:Arial, Helvetica, sans-serif; /* 字體選擇 */
    color: hwb(0 0% 100%);
    margin: 0; /* 移除預設邊距 */
    padding: 0; /* 移除預設內邊距 */
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

html {
    scroll-behavior: smooth; /* 平滑滾動 */
}

section {
    background-color: hsl(0, 0%, 100%); /* 鵝黃色 */
    aspect-ratio: 1.5;
    height: 100vh; /* 高度設定 */
    padding: 3vw 0 0 0; 
    box-sizing: border-box; /* 包含邊框和內邊距在內的總寬度和高度 */
}

/* header */

header {
    position: fixed; /* 固定在頁面上 */
    top: 0; /* 距離頂部 0 像素 */
    left: 0; /* 距離左邊 0 像素 */
    width: 100%; /* 寬度 100% */
    background-color: hsl(0, 0%, 100%); /* 背景顏色 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
    z-index: 1000; /* 確保在其他元素之上 */
    
}

nav {
    width: 100%;
    display: flex;
    justify-content: center; /* 將導航項目置中 */
}
/* 將列表項目水平排列 */
nav ul {
    list-style-type: none; /* 移除列表樣式 */
    margin: 0; /* 移除預設邊距 */
    padding: 0; /* 移除預設內邊距 */
    display: flex; /* 使用彈性盒子 */
}

nav li {
    height: 3vw; /* 每個項目的高度 */
    display: flex; /* 使用彈性盒子 */
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中 */
    
}

nav li:not(#地呱li) {
    width: 22.5vw; /* 其他項目的寬度 */
}

#地呱li {
    width: 10vw; /* 大頭貼項目的寬度 */
    display: flex; /* 使用彈性盒子 */
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    background-color: #FF770F;
}

/* 設置鏈接樣式 */
nav a {
    display: flex; 
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    text-decoration: none; /* 移除下劃線 */
    font-size: auto;
    font-weight: bold;
    color: #FF770F;
    transition: background-color 0.3s ease; /* 背景顏色過渡效果 */
    padding: 0; /* 移除內邊距 */
    width: 100%;
    height: 100%;
    cursor: pointer; /* 設定游標為可點擊 */
}

/* 滑鼠懸停時變更顏色 */
nav a:hover:not(#地呱a) {
    background-color: #FF770F; /* 滑鼠懸停時的背景顏色 */
    color: #ffffff; /* 滑鼠懸停時的字體顏色 */
}

#地呱img
 {
    width: 2.5vw; /* 設定圖片的寬度 */
    height: 2.5vw; /* 設定圖片的高度 */
    border-radius:30%; /* 使圖片圓形 */
    object-fit: cover; /* 確保圖片比例正常 */
    transition: transform 0.3s; /* 平滑過渡 */
    cursor: pointer;
}

#地呱img.scale {
    transform: scale(1.2); /* 放大效果 */
}

nav input{
    display: none;
}

label {
    display: none;
}



/* 產品展示櫃 */
#products {
    

}

.gallery-container {
    margin: 0; /* 移除預設邊距 */
    padding: 0; /* 移除預設內邊距 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; 隱藏多餘的內容不用用到 */
    width: 100%;
    height: auto;
    
}

.product-gallery {
    margin: 0; /* 移除預設邊距 */
    padding: 0; /* 移除預設內邊距 */
    display: flex;
    overflow-x: auto; /* 允許橫向捲動 */
    overflow-y: hidden; 
    scroll-behavior: smooth; /* 平滑捲動效果 */
    width: 94%; /* 確保畫廊寬度為 94% */
    height: auto;
    background-color:  #ffffff; /* 背景顏色 */
    /* border: 1px solid #000; */
}

.product-gallery::-webkit-scrollbar {
    display: none; /* 隱藏捲動條 */
}

.product-item {
    box-sizing: border-box;
    margin-right: 1%;
    border: 2px solid #d3d3d380;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 0 0 32%;
    flex-wrap: nowrap;
    flex-direction: column;
}


.product-item:first-child {
    margin-left:1%; /* 確保第一個產品有左邊距 */
}

.product-up-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.product-up-section img {
    object-fit: contain; /* 確保圖片按比例填滿容器 */
    width: 100%;
    height: auto;
    

}

#購買表單按鈕-container {
    display: flex;
    justify-content: center;
}

#購買表單按鈕{
    background-color: #FF770F;
    color: #ffffff;
    font-weight: bold;
    padding: 1.5% 2%;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;
    
}

#購買表單按鈕:hover {
    transition: background-color 0.3s ease;
    background-color: #ffffff;
    color: #FF770F;
}

#手機版使用說明 {
    display: none;
}






.product-info {
    position: absolute;
    bottom: 0; /* 定位在底部 */
    left: 0; /* 左邊對齊 */
    right: 0; /* 右邊對齊 */
    height: 80%; /* 區段的高度 */
    background-color: #ffffffd4; /* 背景透明度為100% */
    transition: transform 0.3s ease; 
    transform: translateY(100%); 
    z-index: 1;
    overflow-y: auto;
}

.product-info p{
    opacity: 1 ;
    color: #ff770f;
    font-weight: bold;
    font-size: 1em;
}

.product-item:hover .product-info {
    transform: translateY(0); 
}

#product-info-cat{
    height: 30%; /* 區段的高度 */
}






.product-down-section {
    /* background-color: #ffffff; */
    /* border: 1px solid #FF770F; */
    position: relative;
    
}

.product-down-section h6 {
    font-size: 1em;
    color: #FF770F ; 
    padding: 0;
    margin: 10px 0 15px 0;
    /* font-size: medium; */
    
}

.product-down-section h5 {
    font-size: 0.8em;
    color: #FF770F ; 
    padding: 0;
    margin: 0 0 30px 0;
    /* font-size: small; */
    font-weight: bold;
    
}



.scroll-button {
    margin: 0;
    background-color: #ff770f5f; /* 預設淺灰色 */
    color: white; /* 按鈕文字顏色 */
    border: none; /* 去掉邊框 */
    width: 3% ;
    aspect-ratio: 0.5;
    font-size: 1vw;
    cursor: pointer; /* 鼠標指標變為手型 */
    border-radius: 5px; /* 圓角邊框 */
    transition: background-color 0.3s ease; /* 背景顏色過渡效果 */
}

.scroll-button:hover {
    background-color: #d3d3d380; /* 懸停時變成更透明的灰色 */
}


/* 首頁部分 */

#nameButton {
    background-color: #FF770F;
    color: #ffffff;
    font-weight: bold;
    padding: 1.5% 2%;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;

}

#nameButton:hover{
    transition: background-color 0.3s ease;
    background-color: #ffffff;
    color: #FF770F;
}

#text {
    font-size: 20px;
    opacity: 0; /* 初始透明度為 0 */
    transition: opacity 0.5s ease; /* 漸變效果 */
    font-weight: normal;
    margin: 0;
}

/* 彩蛋計數器 */
#彩蛋計數器div {
    font-size: 20px;
}
#eggSection{
    display: flex;
    flex-direction: column;
}

/* 貪吃貓 */
[draggable="true"] {
    /*
     To prevent user selecting inside the drag source
    */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



#item1{
    height: 3em;
    width: 3em;
    background-image: url('burger.gif'); /* 設置背景圖像 */
    background-size: cover; /* 使背景圖像覆蓋整個區域 */
    background-repeat: no-repeat; /* 不重複背景圖像 */
    background-position: center; /* 將背景圖像置中 */
    margin: 0; 
    cursor: pointer;
}

#zone1{
    width: 100%;
    height:auto;
    aspect-ratio: 1;
    color: #FF770F;
    background-image: url('catcry.gif'); /* 設置背景圖像 */
    background-size: contain; /* 使背景圖像覆蓋整個區域 */
    background-repeat: no-repeat; /* 不重複背景圖像 */
    background-position: center; /* 將背景圖像置中 */
    margin: 0; /* 去掉默認的邊距 */
}

/* 顧客回饋 */
.標題div{
    display: flex;
    flex-direction: row;
    align-items: center;

}

#egg{
    width: 1.8em;
    height: 2.4em;
    margin: 5px;
    background-image: url('egg.png');
    background-size: cover;
    border: none;
    cursor: pointer;
}

#feedback-section{
    display: flex;
    flex-direction: column;
}

#底部通知 {
    color: #767676;
    text-align: center;
    margin-top: auto;
}

.feedback-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    justify-content: center;
    justify-items: center;
    
}

.feedback-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 4%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 80%;
    margin-bottom: 3%;
    position: relative;
    /* box-sizing: border-box; */
}


.customer-avatar {
    flex-shrink: 0;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.customer-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback-text p {
    color: #767676;
    text-align: center;
    font-size: 100%;
    margin: 0;
    
    
}
.feedback-text h5 {
    margin: 0;
    position: absolute;
    right: 6%;
    bottom: 6%;
    font-weight: normal;
    
    
}


/* footer */
footer {
    background-color: #d0b08a;
    padding:1% 0 0 0;
}

footer .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    height: 10%;
}

footer .icon img {
    width: 50px; /* 圖標大小 */
    height: 50px; /* 圖標大小 */
    transition: transform 0.3s;
}

footer .icon:hover img {
    transform: scale(1.1); /* 滑鼠懸停效果 */
}

footer p {
    text-align: center; /* 只置中 p 元素的文本 */
    margin: 10px;         /* 可選：去除默認的外邊距 */
    color:#767676;
}

/* 彈出視窗 */
.popup {
    display: block; /* 初始隱藏 */
    position: fixed;
    z-index: 1000; /* 確保在最上面 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover { 
    color: black;
    text-decoration: none;
    cursor: pointer;
}



















@media (aspect-ratio <= 1.5) {
    /* CSS 規則 */
    section {
        width: 100%; /* 高度設定 */
        height: auto;
        padding: 0 3%;
        scroll-margin-top: calc(100vw / 8);
    }

    footer {
        
    }

    /* 產品展示櫃 */
    .product-gallery {
        scroll-snap-type: x mandatory;
        width: 100%;
    }
    .product-item {
        scroll-snap-align: start;
        flex: 0 0 100%;
    }

    .gallery-container {
        position: relative;
    }

    .scroll-button {
        width: 6%;
        font-size: 1em;

    }
    .scroll-button:hover {
        background-color:#ff770f5f; /* 懸停時變成更透明的灰色 */
    }
    .right {
        position: absolute;
        bottom: 50%;
        right: -2.5%;
        z-index: 5;
    }
    .left {
        position: absolute;
        bottom: 50%;
        left: -2.5%;
        z-index: 2;
    }

    #手機版使用說明 {
        display: block;
        margin: 0;

    }


    .product-item:hover .product-info {
        transform:translateY(100%); 
    }

    .product-item.active .product-info {
        transform: translateY(0); 
    }

    /* 首頁 */
    .content-container {
        
        /* padding: 0 3%; */
    }

    /* header */

    header {
        position: fixed; /* 固定在頁面上 */
        top: 0; /* 距離頂部 0 像素 */
        left: 0; /* 距離左邊 0 像素 */
        width: 100%; /* 寬度 100% */
        background-color: hsl(0, 0%, 100%); /* 背景顏色 */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
        z-index: 1000; /* 確保在其他元素之上 */
        
    }
    
    nav {
        display: flex;
        justify-content: center; /* 將導航項目置中 */
        aspect-ratio: 8;
    }
    /* 將列表項目水平排列 */
    nav ul {
        list-style-type: none; /* 移除列表樣式 */
        margin: 0; /* 移除預設邊距 */
        padding: 0; /* 移除預設內邊距 */
        display: flex; /* 使用彈性盒子 */
    }
    
    nav li {
        
        display: flex; /* 使用彈性盒子 */
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */


        height:auto; /* 每個項目的高度 */
        
    }
    
    nav li:not(#地呱li) {
        width: 22.5vw; /* 其他項目的寬度 */
    }
    
    #地呱li {
        width: 10vw; /* 大頭貼項目的寬度 */
        display: flex; /* 使用彈性盒子 */
        justify-content: center; /* 水平置中 */
        align-items: center; /* 垂直置中 */
        background-color: #FF770F;
    }
    
    /* 設置鏈接樣式 */
    nav a {
        display: flex; 
        justify-content: center; /* 水平置中 */
        align-items: center; /* 垂直置中 */
        text-decoration: none; /* 移除下劃線 */
        font-size: auto;
        font-weight: bold;
        color: #FF770F;
        transition: background-color 0.3s ease; /* 背景顏色過渡效果 */
        padding: 0; /* 移除內邊距 */
        width: 100%;
        height: 100%;
        cursor: pointer; /* 設定游標為可點擊 */
    }
    
    /* 滑鼠懸停時變更顏色 */
    nav a:hover:not(#地呱a) {
        background-color: #FF770F; /* 滑鼠懸停時的背景顏色 */
        color: #ffffff; /* 滑鼠懸停時的字體顏色 */
    }
    
    #地呱img
     {
        width: 8vw; /* 設定圖片的寬度 */
        height: 8vw; /* 設定圖片的高度 */
        border-radius:30%; /* 使圖片圓形 */
        object-fit: cover; /* 確保圖片比例正常 */
        transition: transform 0.3s; /* 平滑過渡 */
        cursor: pointer;
    }
    
    #地呱img.scale {
        transform: scale(1.2); /* 放大效果 */
    }
    

}